body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }
<<<<<<< HEAD
  nav{
    display: inline-block
  }

  #logins {
      align: right
  }
=======

>>>>>>> 8c0e32c95b4e12b4a16b5f8d7807638128a63e58
  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}
