* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

body {
  font-family: Rockwell, serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }
  nav {
    position: fixed;
    display: inline-block;
    width: 100%;
    background-color: tan;
    border-bottom: 1px solid black;
    height: 70px;
    z-index: 100;
  }

  #logins {
      align: right;
  }


  form div {
    margin: 1em;
    display: inline-block;
  }

  nav a {
    color: white;
    display: inline-flex;
    margin: 1em;
    float: right;
    font-size: 1.2em;
  }

  .nav-categories {
    float: left;
  }
  .Searchbar {
    position: absolute;
    display: inline-flex;
    left: 30%;
    height: 100%;
    .search-input {
      display: inline-flex;
      margin: auto;
      height: 50%;
      width: 360px;
    }
    .btn-search {
      border: 1px solid blanchedalmond;
      background-color: #8A502A;
      color: white;
      border-radius: 10%;

      display: inline-flex;
      margin: auto;
      padding: 8px;
      align-items: center;
      height: 50%;
      font-weight: lighter;
      font-size: .8em;
    }
  }

  .main-page {
    position: absolute;
    display: flex;
    top: 70px;

    width: 100%;
  }

  .product-list, .cart-list {
    position: relative;
    margin: auto;
    display: block;
    width: 90%;

  }
  .product-list-header, .cart-list-header {
    border-bottom: 2px solid lightgrey;
  }
  .product-list-item, .cart-list-item {
    border-bottom: 1px solid lightgrey;
    float: left;
    clear: left;
    width: 100%;
    margin-top: 30px;
  }
  .imgResponsive{
    height: 240px;
    width: 240px;
    size: fit;
  }
  .product-image, .cart-item-image{
    display: inline-block;
    position: relative;
    left: 50px;
    margin: 0 80px 40px 80px;

    float: left;
    clear: left;
  }
  .product-info {
    display: inline-block;
    position: relative;
    float: left;
    left: 30px;
  }
  .btn-remove{
    border: 1px solid #D6B5A2;
    background-color: #FF7220;
    color: white;
    border-radius: 10%;

    display: inline-flex;
    margin: 20px 0 40px 0;
    padding: 8px;
    align-items: center;
    height: 50%;
    font-weight: lighter;
    font-size: .8em;
  }
  .btn-checkout{
    border: 1px solid #D6B5A2;
    background-color: #009E42;
    color: white;
    border-radius: 10%;

    display: inline-flex;
    margin: 20px 0 40px 0;
    padding: 8px;
    align-items: center;
    height: 50%;
    font-weight: lighter;
    font-size: .8em;
  }
  .cart-total {
    float: right;
  }
}

