* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

body {
  font-family: Rockwell, serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }
  nav {
    position: fixed;
    display: inline-block;
    width: 100%;
    background-color: tan;
    border-bottom: 1px solid black;
    height: 70px;
  }

  #logins {
      align: right;
  }


  form div {
    margin: 1em;
    display: inline-block;
  }

  nav a {
    color: white;
    display: inline-flex;
    margin: 1em;
    float: right;
    font-size: 1.2em;
  }
  .nav-categories {
    float: left;
  }
  .Searchbar {
    position: absolute;
    display: inline-flex;
    left: 30%;
    height: 100%;
    .search-input {
      display: inline-flex;
      margin: auto;
      height: 50%;
      width: 360px;
    }
    .search-btn {
      border: 1px solid blanchedalmond;
      background-color: #8A502A;
      color: white;
      border-radius: 10%;

      display: inline-flex;
      margin: auto;
      padding: 8px;
      align-items: center;
      height: 50%;
      font-weight: lighter;
      font-size: .8em;
    }
  }
  .main-page {
    position: absolute;
    top: 70px;
  }
  .nav-categories {
    float: left;
  }
  .imgResponsive{
    height: 200px;
    width: 200px;
    size: fit;
  }
}

